In this notebook, I would like to explore some of the frequently used functions in time series analysis.

### 1- Python datetime module

In [1]:
from datetime import datetime

In [2]:
# February 19th, 2023

datetime(2023, #Year
        2,     #Month
        19     #Day
        )

datetime.datetime(2023, 2, 19, 0, 0)

In [3]:
# Hour, minute, second and microsecond are also available

someDay = datetime(2000,1,1,
                   12, # Hour
                   15, # Minute
                   15, # Second
                   1)  # Microsecond
someDay

datetime.datetime(2000, 1, 1, 12, 15, 15, 1)

In [4]:
print(someDay)

2000-01-01 12:15:15.000001

In [5]:
#difference between two datetime objects

difference = datetime.now() - datetime(2023,2,19)
difference

datetime.timedelta(seconds=36666, microseconds=300012)

In [6]:
print(difference)

10:11:06.300012

In [7]:
datetime.now() #present time given with microsecond precision

datetime.datetime(2023, 2, 19, 10, 11, 6, 331181)

In [8]:
#two dates cannot be added together, but timedelta object can be added to a datetime object.

someDay + difference

datetime.datetime(2000, 1, 1, 22, 26, 21, 300013)

### Date Formatting

Python datetime <strong><a href='http://strftime.org/'>strftime</a></strong> codes.<br>

<table style="display: inline-block">  
<tr><th>CODE</th><th>MEANING</th><th>EXAMPLE</th><tr>
<tr><td>%Y</td><td>Year with century as a decimal number.</td><td>2001</td></tr>
<tr><td>%y</td><td>Year without century as a zero-padded decimal number.</td><td>01</td></tr>
<tr><td>%m</td><td>Month as a zero-padded decimal number.</td><td>02</td></tr>
<tr><td>%B</td><td>Month as locale’s full name.</td><td>February</td></tr>
<tr><td>%b</td><td>Month as locale’s abbreviated name.</td><td>Feb</td></tr>
<tr><td>%d</td><td>Day of the month as a zero-padded decimal number.</td><td>03</td></tr>  
<tr><td>%A</td><td>Weekday as locale’s full name.</td><td>Saturday</td></tr>
<tr><td>%a</td><td>Weekday as locale’s abbreviated name.</td><td>Sat</td></tr>
<tr><td>%H</td><td>Hour (24-hour clock) as a zero-padded decimal number.</td><td>16</td></tr>
<tr><td>%I</td><td>Hour (12-hour clock) as a zero-padded decimal number.</td><td>04</td></tr>
<tr><td>%p</td><td>Locale’s equivalent of either AM or PM.</td><td>PM</td></tr>
<tr><td>%M</td><td>Minute as a zero-padded decimal number.</td><td>05</td></tr>
<tr><td>%S</td><td>Second as a zero-padded decimal number.</td><td>06</td></tr>
</table>
<table style="display: inline-block">
<tr><th>CODE</th><th>MEANING</th><th>EXAMPLE</th><tr>
<tr><td>%#m</td><td>Month as a decimal number. (Windows)</td><td>2</td></tr>
<tr><td>%-m</td><td>Month as a decimal number. (Mac/Linux)</td><td>2</td></tr>
<tr><td>%#x</td><td>Long date</td><td>Saturday, February 03, 2001</td></tr>
<tr><td>%#c</td><td>Long date and time</td><td>Saturday, February 03, 2001 16:05:06</td></tr>
</table>

In [9]:
someDay.strftime('%#c')

'Saturday, January 01, 2000 12:15:15'

In [10]:
someDay.strftime('%Y-%m-%d %A, %I:%M:%S %p')

'2000-01-01 Saturday, 12:15:15 PM'

### 2- NumPy Datetime Arrays and Date Ranges

In [11]:
import numpy as np

#### Datetime Arrays

In [12]:
#NumPy data type is called 'datetime64'
np.array(['2020-01-01', '2021-01-01', '2022-01-01'], dtype = 'datetime64')

array(['2020-01-01', '2021-01-01', '2022-01-01'], dtype='datetime64[D]')

Numpy Datetime and Timedelta data types support a large number of time units. I'll show a few here. For more, you can check the address below.

https://docs.scipy.org/doc/numpy-1.15.4/reference/arrays.datetime.html

In [13]:
#NumPy data type is called 'datetime64'
np.array(['2020-01-01', '2021-01-01', '2022-01-01'], 
         dtype = 'datetime64[h]') # Hour

array(['2020-01-01T00', '2021-01-01T00', '2022-01-01T00'],
      dtype='datetime64[h]')

In [14]:
np.array(['2020-01-01', '2021-01-01', '2022-01-01'], 
         dtype = 'datetime64[M]') # Month

array(['2020-01', '2021-01', '2022-01'], dtype='datetime64[M]')

In [15]:
np.array(['2020-01-01', '2021-01-01', '2022-01-01'], 
         dtype = 'datetime64[Y]') # Year

array(['2020', '2021', '2022'], dtype='datetime64[Y]')

#### Date Ranges

In [16]:
#np.arange(start,stop,dtype)

np.arange('2020-01-01', '2022-01-01', dtype = 'datetime64[M]')

array(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12'],
      dtype='datetime64[M]')

In [17]:
#np.arange(start,stop,step,dtype)

np.arange('2020-01-01', '2022-01-01',3 , dtype = 'datetime64[M]')

array(['2020-01', '2020-04', '2020-07', '2020-10', '2021-01', '2021-04',
       '2021-07', '2021-10'], dtype='datetime64[M]')

### 3- Pandas Datetime Index

In [18]:
import pandas as pd

In [19]:
#creating an array of 12 dates one month apart.

pd.date_range('1/1/2022', periods = 12, freq='M')

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='M')

In [21]:
idx = pd.to_datetime(['2021-01-01','Jan 01, 2022','1/1/2023','01-Jan-2024'])
idx

DatetimeIndex(['2021-01-01', '2022-01-01', '2023-01-01', '2024-01-01'], dtype='datetime64[ns]', freq=None)

In [22]:
data = np.random.rand(4,4)
data

array([[0.70626187, 0.88341873, 0.34383385, 0.37944335],
       [0.65877139, 0.18912976, 0.80352104, 0.79414993],
       [0.95430448, 0.98955806, 0.52808126, 0.81303017],
       [0.21755334, 0.21434636, 0.42611655, 0.93843348]])

In [ ]:
pd.DataFrame